In [44]:
import pandas as pd
import re

In [36]:
df = pd.read_csv("metacritic_game_user_comments.csv")

In [37]:
# The legend of Zelda: Ocarina of Time
df_loz_oot = df.where(df['Title'] == 'The Legend of Zelda: Ocarina of Time')
df_loz_oot.head()
# len(df)

,Unnamed: 0,Title,Platform,Userscore,Comment,Username
0,0.0,The Legend of Zelda: Ocarina of Time,Nintendo64,10.0,"Everything in OoT is so near at perfection, it...",SirCaestus
1,1.0,The Legend of Zelda: Ocarina of Time,Nintendo64,10.0,I won't bore you with what everyone is already...,Kaistlin
2,2.0,The Legend of Zelda: Ocarina of Time,Nintendo64,10.0,Anyone who gives the masterpiece below a 7 or ...,Jacody
3,3.0,The Legend of Zelda: Ocarina of Time,Nintendo64,10.0,I'm one of those people who think that this is...,doodlerman
4,4.0,The Legend of Zelda: Ocarina of Time,Nintendo64,10.0,This game is the highest rated game on Metacr...,StevenA

In [38]:
all_comments = ""
for comment in df_loz_oot['Comment']:
    all_comments += str(comment)

In [39]:
comments_list = all_comments.split(' ')

In [ ]:
for i in range(len(comments_list)):
    comments_list[i] = comments_list[i].lower()

In [45]:
comments_list = [re.sub('[^a-z0-9]+', '', _) for _ in comments_list]

In [47]:
print(len(comments_list))

86823

In [64]:
set_of_words = set(comments_list)
list_of_words = list(set_of_words)

In [68]:
list_of_words_count = []

In [69]:
for word in list_of_words:
    list_of_words_count.append(comments_list.count(word))

In [70]:
print(len(list_of_words))
print(len(list_of_words_count))

6805
6805

In [71]:
data_dict = {
    'weight': list_of_words_count,
    'word': list_of_words
}

In [100]:
df_wcd = pd.DataFrame(data_dict)

In [101]:
df_wcd_sorted = df_wcd.sort_values(by=['weight'], ascending=False).reset_index(drop=True)

In [105]:
df_wcd_sorted

     weight  word
0      4821   the
1      2768  game
2      2493   and
3      2406    of
4      1997    is
..      ...   ...
195      57  came
196      57   may
197      56  beat
198      55  boss
199      55  look

[200 rows x 2 columns]

In [106]:
df_wcd_sorted = df_wcd_sorted[:200]

In [107]:
df_wcd_sorted

     weight  word
0      4821   the
1      2768  game
2      2493   and
3      2406    of
4      1997    is
..      ...   ...
195      57  came
196      57   may
197      56  beat
198      55  boss
199      55  look

[200 rows x 2 columns]

In [108]:
df_wcd_sorted.to_csv("word_cloud_data.csv", index=False, encoding='utf-8')